@import url('/assets/Faune_Fonts/faune-fontes.css');

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

    background-color: #272727;
	font-family: 'Faune', sans-serif;
	color: white;

	margin: 3% 19.1%;
}

/* Header */
header {
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 { 
	margin: 8pt 0 16pt 0;
	padding: 0 0 0 0;
	font-weight: 900;
	font-size: 24pt;
}
#header_text{
	font-size: 8pt;
	margin: 0 0 0 0;
}
#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#icons {
	display: flex;
	width: auto;
}
[data-icon-name] svg {
	width: 100%;
	height: 100%;
}

.navicon {
	width: 16px;
	height: auto;
	padding: 0 4px 0px 0px;
}

/* Body */
#main {
	grid-row: 2;
	margin: 24pt 0 0 0;
}
#main_about {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2 {
	font-size: 14pt;
	margin: 0 0 14pt 0;
}
.about_text {
	font-size: 11pt;
	margin: 0 0 11pt 0;
}
